            /* Accessibility */
.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
}

            /* Root of HTML pages */
html {
    background:#f5f5dc;
    }

            /* Header 
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    max-height: 15%;
    background: linear-gradient(145deg, hsl(60, 15%, 65%), hsl(60, 20%, 75%));
    }

  nav ul {
    margin: 4px 4px;
    padding: 1px 2px 1px 2px;
    text-align: center;
    font-size: .8em;
  }  

  nav li {
     display: inline;     
  }

  #right {
    float: right;
    width:10%
}
*/
        /*The body of the HTML page */

#map {
    height: 400px;       
}

.bodyContainer {
    display: block;
    font-family: monospace, serif;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    width: 800px;
}

.comp-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.comp-intro {
    font-size: 18px;
}

.comp-container a {
    font-size: 14px;
    cursor: pointer;
}

/* @media for mobile devices */

@media (max-width: 1000px) 
{
    #map {
      height: 80%;
    }
    body {
        font-size: 1.5vw;
        width: 100%;
        height: 100%;
    }

#navbar {
    height: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
} 
}

@media (min-width: 600px) 
{
    #map {
      height: 700px;
    }
}
nav a:link, nav a:visited, li a:link, li a:visited {
    background:#40b0a6; 
    padding: 10px 10px;
    color: white; 
    display: inline-block;
    text-decoration: none;
    margin: 1px;
    text-align: center;
}
nav a:hover, nav a:active, li a:hover, li a:active {
        background-color: rgb(34, 139, 131);
        transform: scale(1.1);
        border-radius: 2px;
        
}    
h1 {
    color: #265A5A;
    font-size:1em;
    text-align: center;
    padding: 20px 0;
    margin: 20px;
    line-height: 25px;
    letter-spacing: 2px;
    border-radius: 5px;
    }

h2 {
    color: #265A5A;
    font-size: .8em;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    width: 50%;
    padding: 10px;
    }

h3 {
    text-align: center;
    color: red;
    font-size: larger;
    letter-spacing: 1px;
    text-shadow: 1.5px 1.5px 1.5px rgb(169, 179, 174);
    }
p {
    font-size: 1em;
    text-align: center;
    color:#3a4b4b;
    padding: 10px;
    letter-spacing: 2px;
    }

.titluriprinc {
    color:rgb(9, 22, 22); 
    text-align:center; 
    font-size:.7em; 
    background:rgb(156, 187, 187);
    margin: 30px auto;
    width: 70%;
    border-radius: 5px;
}

.textdeinlocuit {
    color:grey; 
    text-align:center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 1px solid gray;
    width: 70%;
    margin: 10px auto;
    border-radius: 5px;
}

article {
    margin: 10px auto;
    text-align: center;
}
table{
    margin: 0px auto;
    border: 0px;
}
td {
    margin: 0 auto;
    text-align: center;
}
address {
color:DimGrey;
font-size:13px;
text-align:justify;
}

img {
    margin: 0 auto;
    border: 1px solid powderblue;
    max-width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    background-color: #222;
    padding: 3px;
    color: white;
    
}

figure {
    padding: 3px;
    max-width: 600px;
    margin: auto;
}

li {
    padding: 5px;
    letter-spacing: 1px;
}


[type='button'] {
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
    font-size: .7em;
    background: #f08731;
    border-radius: 5px;
}

[type='submit'] {
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0 auto;
    display: block;
    font-size: 1em;
}

footer {
    text-align: center;
    opacity: 0.5;
}