body {
   background-color: Beige;
   color:blue;
   display:block;
   margin:80px;
}

        a:link {
            color: #db0012fa;
        }
        a:visited {
            color: #a302a3;
        }
        h1{
            color: CadetBlue;
            text-align: center;
        }
        p {
            font-family: Verdana;
            font-size: 19px;
            text-align: left;
            color:CadetBlue
        }
        .titluriprinc {color:teal; text-align:center; font-size:24px; background-color:white;}
        .textdeinlocuit {color:grey; text-align:center;}
address {
color:DimGrey;
font-size:6px;
text-align:justify;
font-family:Ubuntu;
}
